<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>{{message}}</h1>
        <div v-for="item in radio">
            <label :for="item.id">{{item.sex}}</label>
            <input type="radio" :id="item.id" :value="item.sex" v-model="sexType">
        </div>
        {{sexType}}
    </div>

    <script>
        const vm = new Vue({
            el: "#root",
            data: {
                message: "Hello Vue",
                radio: [{
                        id: 1,
                        sex: '男'
                    },
                    {
                        id: 2,
                        sex: '女'
                    }
                ],
                sexType: ''
            }
        })
    </script>
</body>

</html>